.backButtonWrapper {
  &:hover {
    color: var(--color-accent-300);
  }
}

.backTo {
  display: flex;
  gap: 5px;
  align-items: center;

  margin-bottom: 36px;
  padding-left: 15px;

  color: var(--color-light-100);
  text-decoration: none;
}

.arrowBack {
  fill: currentcolor;
}
