.item {
  cursor: pointer;
  display: flex;
  gap: 6px;
  align-items: center;
}

.userItem {
  all: unset;
  display: flex;
  padding: 5px;
  border-radius: 5px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.avatar {
  display: flex;
  align-self: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border-radius: 50%;
}
