.container {
  margin-bottom: 19px;
  text-align: center;
}

.header {
  margin-bottom: 51px;
}

.description {
  margin-top: 19px;
  margin-bottom: 41px;

  color: var(--color-light-900);
  text-align: start;

  opacity: 0.5;
}