.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 19px;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 19px;
}

.description {
  margin-top: 19px;
  margin-bottom: 65px;

  color: var(--color-light-900);
  text-align: center;

  opacity: 0.5;
}

.button {
  display: flex;
  justify-content: center;
}
