.dropdownItem {
  all: unset;

  cursor: pointer;

  display: flex;
  gap: 8px;
  align-items: center;

  width: 100%;
  padding: 5px 2px;

  background-color: var(--color-dark-700);
  border-radius: 4px;

  &:hover,
  &:focus {
    width: 100%;
    color: var(--color-accent-500);
    background-color: var(--color-dark-500);
  }
}
