.table {
  table-layout: fixed;
  border-collapse: collapse;

  width: 100%;

  border-color: rgb(51 51 51);
  border-style: solid;
  border-width: 0 1px 1px;
}

.th {
  height: 36px;
  padding: 6px 24px;
  text-align: left;
  background: var(--color-dark-500);

  &:first-child {
    width: 210px;
  }

  &:nth-child(2) {
    width: 62px;
  }

  &:nth-child(3) {
    width: 90px;
  }

  &:nth-child(4) {
    width: 126px;
  }

  &:nth-child(5) {
    width: 72px;
  }
}

.td {
  padding: 6px 24px;
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid rgb(51 51 51);

  &:last-child {
    text-align: center;
  }

  &:not(:last-child) {
    overflow: hidden;
    max-width: 1000px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.tr {
  cursor: default;

  &:hover {
    background-color: var(--color-dark-700);
  }
}
