.className {
  color: white;
}

.light {
  color: black;
}

.h1 {
  font-size: var(--font-size-xxl);
}

.h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.h1,
.h2 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
}

.h3,
.h4,
.overline,
.sub1,
.sub2 {
  font-weight: var(--font-weight-bold);
}

.h3 {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
}

.h3,
.body1,
.body2,
.sub1,
.sub2,
.link1,
.h4 {
  line-height: var(--line-height-m);
}

.body1,
.sub1,
.error,
.h4 {
  font-size: var(--font-size-m);
}

.body2,
.sub2,
.link1 {
  font-size: var(--font-size-s);
}

.caption,
.overline,
.link2 {
  font-size: var(--font-size-xs);
}

.link1,
.link2 {
  cursor: pointer;
  color: var(--color-info-500);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.overline {
  text-transform: uppercase;
}
