.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
}

.textFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 60px;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.button {
  margin-bottom: 20px;
}


.questionMark{
  font-weight: var(--font-weight-medium);
  color:var(--color-dark-100);
}

.signLink{
  margin-top: 11px;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
}