.container {
  position: relative;

  & .label {
    position: absolute;

    padding-bottom: 3.6rem;

    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--color-dark-100);
  }

  & .label_disabled {
    color: var(--color-dark-300);
  }
}

.textFieldContainer {
  position: relative;

  display: flex;
  align-items: center;

  height: 36px;

  background-color: var(--color-dark-900);
  border-radius: 2px;

  &::placeholder {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    color: var(--color-dark-100);
  }

  &:disabled {
    color: var(--color-dark-300);
    background-color: inherit;
    border: 1px solid var(--color-dark-300);

    &::placeholder {
      color: var(--color-dark-300);
    }
  }
}

.input,
.inputActiveError {
  z-index: 2;

  width: 100%;
  height: 36px;
  padding: 6px 12px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-text-primary);

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  outline: none;

  &:focus-visible {
    outline: none;
  }

  &:focus {
    border: 2px solid var(--color-info-700);
  }

  &:active {
    color: var(--color-light-100);
    border-color: var(--color-light-100);
  }

  &.activeSearchIconError {
    &:active {
      color: var(--color-danger-300);
    }
  }

  &:disabled {
    color: var(--color-dark-300);
    border: 1px solid var(--color-dark-300);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-dark-600);
    }
  }
}

.password {
  input {
    padding-right: 36px;
  }
}

.inputActiveError {
  &:focus {
    border-color: var(--color-danger-500);
  }
}

.search {
  color: var(--color-light-300);

  input {
    padding: 6px 36px;
  }
}

.inputActive {
  border-color: var(--color-light-100);
}

.error {
  color: var(--color-danger-300);
  border-color: var(--color-danger-300);
}

.errorMessage {
  font-size: var(--font-size-xs);
  color: var(--color-danger-300);
}

.buttonIcon {
  all: unset;

  cursor: pointer;

  position: absolute;
  z-index: 3;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  span {
    width: 20px;
    height: 20px;
  }
}

.iconSearch,
.iconSearchDisabled,
.iconSearchError {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  color: var(--color-dark-300);

  & span {
    width: 20px;
    height: 20px;
  }
}

.iconFocused {
  color: var(--color-light-300);
}

.iconSearchDisabled {
  color: (var(--color-dark-300));
}

.iconSearchError {
  color: (var(--color-danger-300));
}

.eyeIconError {
  color: var(--color-danger-300);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--color-dark-900) inset !important;
  caret-color: #fff !important;

  -webkit-text-fill-color: var(--color-light-100) !important;
}
