.noCardWrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;

  margin-top: 70px;

  .noCardInfo {
    color: var(--color-dark-100);
  }
}

.packTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.packIntro {
  display: flex;
  justify-content: space-between;
  margin: 33px 0 25px;
}

.packTitle {
  display: flex;
  gap: 10px;
  align-items: center;
}

.deckCover {
  min-width: 150px;
  max-height: 150px;
}
