.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 6px;
}

.email {
  margin-bottom: 13px;
  color: var(--color-dark-100);
}

.btnContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.nameContainer {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 16px;
}

.nameButtonIcon {
  all: unset;

  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);

  display: flex;

  &:hover {
    cursor: pointer;
    background: none;
  }
}
