.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 6px;
}

.email {
  margin-bottom: 13px;
  color: var(--color-dark-100);
}

.btnContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.nameContainer {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 16px;
}

.nameButtonIcon {
  all: unset;
  display: flex;
  margin-left: 10px;
  transition: transform var(--animation-time) var(--animation-timing-function);

  &:hover {
    cursor: pointer;
    transform: scale(var(--animation-scale));
  }
}
