.wrapper {
  width: 100%;
}

.backLink {
  margin-bottom: 36px;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.question,
.answer {
  margin-bottom: 15px;

  span {
    font-weight: var(--font-weight-regular);
    word-break: break-all;
  }
}

.imageWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .image {
    height: auto;
    max-height: 100px;
  }
}

.tryCountText {
  margin-bottom: 20px;
  color: var(--color-dark-100);
}

.submitBtn {
  margin-top: 20px;
}
