.wrapper {
  width: 100%;
}

.backLink {
  cursor: pointer;

  display: inline-flex;
  gap: 6px;
  align-items: center;

  margin-bottom: 15px;
  padding-right: 3px;

  color: var(color-ligh-100);
  text-decoration: none;

  border-radius: 3px;

  transition: 0.3s;

  &:hover {
    background-color: var(--color-accent-500);
    box-shadow: 0 0 5px var(--color-accent-500);
  }
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.question,
.answer {
  margin-bottom: 15px;

  span {
    font-weight: var(--font-weight-regular);
  }
}

.imageWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .image {
    height: auto;
    max-height: 100px;
  }
}

.tryCountText {
  margin-bottom: 20px;
  color: var(--color-dark-100);
}

.submitBtn {
  margin-top: 20px;
}
