.container {
  display: flex;
  align-items: center;
}

.item {
  all: unset;

  cursor: pointer;

  position: relative;

  width: 16px;
  height: 16px;

  background-color: transparent;
  border-radius: 50%;

  &::before {
    content: '';

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0;
    height: 0;
    padding: 0;

    border-radius: 50%;

    transition: 0.2s;
  }

  .indicatorBorder {
    position: absolute;
    z-index: 2;
    inset: 0;

    border: 2px solid var(--color-accent-500);
    border-radius: 50%;
  }

  &:hover::before,
  &:active::before,
  &:focus::before,
  &:focus-visible::before {
    width: 36px;
    height: 36px;
  }

  &:focus-visible::before,
  &:hover::before {
    background-color: var(--color-dark-500);
  }

  &:active::before {
    background-color: var(--color-accent-900);
  }

  .indicator {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    &::after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: block;

      width: 9px;
      height: 9px;

      background-color: var(--color-accent-500);
      border-radius: 50%;
    }
  }

  &[data-disabled] {
    pointer-events: none;
    border: 2px solid var(--color-accent-900);

    &::before {
      content: none;
    }

    .indicator::after {
      background-color: var(--color-accent-900);
    }
  }
}

.label {
  cursor: pointer;
  margin-left: 12px;
}
