.item {
  cursor: pointer;
  display: flex;
  gap: 6px;
  align-items: center;

  @media (hover: hover) {
    &:hover {
      width: 94%;
      background-color: var(--color-dark-500);
    }
  }

  @media (hover: none) {
    &:active {
      width: 94%;
      background-color: var(--color-dark-500);
    }
  }
}

.userItem {
  all:unset;
  display: flex;
}

.userInfo {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.avatar {
  display: flex;
  align-self: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border-radius: 50%;
}
