.button {
  all: unset;

  cursor: pointer;

  box-sizing: border-box;
  padding: 6px 28px;

  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  color: inherit;

  border-radius: 4px;

  transition: background-color 0.2s ease;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
    outline-offset: 2px;
  }
}

.primary {
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 25px 0 rgb(var(--color-accent-500-s), 50%); /* stylelint-disable-line */

  &:active {
    background-color: var(--color-accent-700);
    box-shadow: 0 4px 18px 0 rgba(var(--color-accent-700-s), 50%); /* stylelint-disable-line */
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
    box-shadow: 0 4px 18px 0 rgba(var(--color-accent-900-s), 50%); /* stylelint-disable-line */
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-accent-300);
      box-shadow: 0 4px 18px 0 rgba(var(--color-accent-300-s), 50%); /* stylelint-disable-line */
    }
  }
}

.secondary {
  background-color: var(--color-dark-300);
  box-shadow: 0 4px 18px 0 rgba(109 109 109 / 22%);

  &:active {
    background-color: var(--color-dark-500);
    box-shadow: 0 4px 18px 0 rgba(var(--color-accent-700-s), 25%); /* stylelint-disable-line */
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
    box-shadow: 0 4px 18px 0 rgba(var(--color-accent-900-s), 35%); /* stylelint-disable-line */
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-dark-100);
      box-shadow: 0 4px 18px 0 rgba(var(--color-accent-300-s), 35%); /* stylelint-disable-line */
    }
  }
}

.icon {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  color: var(--color-light-100);

  &::before {
    content: '';

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    width: 24px;
    height: 24px;

    border-radius: 50%;

    transition: 0.2s;
  }

  svg {
    z-index: 2;
  }

  &:hover {
    color: var(--color-accent-500);
  }

  &:hover::before {
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--color-dark-500);
  }
}

.link {
  font-size: 16px;
  color: var(--color-accent-500);
  background-color: transparent;
  border: none;

  &:active {
    color: var(--color-accent-700);
  }

  &:focus-visible {
    border-radius: 130px;
  }

  &:disabled {
    opacity: 0.8;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-accent-300);
    }
  }
}

.fullWidth {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.btnForLink {
  padding: 0;
}

.fullWidthIconWrapper {
  pointer-events: none;

  position: absolute;
  top: 58%;
  left: 0;
  transform: translate(-50%, -50%);

  align-content: center;

  padding-left: 54px;

  fill: currentcolor;
}

.btnWrapper {
  position: relative;
}

.iconWrapper {
  pointer-events: none;

  position: absolute;
  top: 54%;
  left: 8px;
  transform: translate(-50%, -50%);

  padding-left: 54px;

  fill: currentcolor;
}

.withIcon {
  padding-left: 54px;
}
