.avatar {
  width: 96px;
  height: 96px;
  margin-top: 27px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 27px;
  margin-bottom: 6px;
}

.email {
  margin-bottom: 13px;
  color: var(--color-dark-100);
}
