:root {
  --font-weight-bold: 700;
  --font-weight-regular: 400;
}

.className {
  color: white;
}

.light {
  color: black;
}

.h1 {
  font-size: 26px;
  font-weight: var(--font-weight-bold);
}

.h2 {
  font-size: 20px;
  font-weight: var(--font-weight-bold);
}

.h3 {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.h4 {
  font-size: 16px;
  font-weight: var(--font-weight-bold);
}

.body1,
.body2,
.link1,
.error {
  font-size: 16px;
}

.body1,
.sub1 {
  font-weight: var(--font-weight-bold);
}

.body2,
.sub2,
.link2 {
  font-size: 14px;
}

.sub1,
.sub2 {
  cursor: pointer;
  color: #397df6;
  text-decoration: underline;
}

.caption,
.captionLink {
  font-size: 12px;
  font-weight: var(--font-weight-regular);
}

.captionLink {
  cursor: pointer;
  text-decoration: underline;
}

.overline {
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.error {
  color: #f3305b;
}
