.tableContainer {
  width: 100%;
}

.iconsContainer {
  display: flex;
  gap: 10px;
}

.disableIcon {
  pointer-events: none;
  color: var(--color-dark-100);
}

.tableImTitleWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.deckCoverImg {
  cursor: pointer;

  min-width: 70px;
  max-width: 70px;
  height: 50px;

  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 0;
  margin-left: 2px;
  fill: var(--color-light-100);
}

.arrowWrapper {
  position: relative;
}
