.container {
}

.decksHeaderWrapper {
}

.deckHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterGroupWrapper {
  display: flex;
  justify-content: space-between;
}
