.decksHeaderWrapper {
}

.deckHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterGroupWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 8px 0 36px;
}

.decksSearch {
}

.decksTabs {
}
