.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1000px;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 60px;

  background-color: var(--color-dark-700);
}
