.pagination {
  user-select: none;
  display: flex;
  gap: 12px;
}

.page,
.arrowForward,
.arrowBack {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 8px;

  border-radius: 2px;
}

.arrowBack {
  transform: rotate(180deg);
}

.selectWrapper {
  user-select: none;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.active {
  color: var(--color-dark-900);
  background-color: var(--color-light-100);

  & > span {
    color: var(--color-dark-900);
  }
}
