.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  margin-top: 18px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
}

.uploadImgBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
}

.actionsBtnWrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 12px 0 36px;
}
